{% assign icons = site.theme_settings.icons %}
{% if icons.email %}
<li>
  <a href="mailto:{{ icons.email }}">
    <i class="fas fa-envelope"></i>
  </a>
</li>
{% endif %}

{% if icons.linkedin %}
<li>
  <a href="{{ icons.linkedin }}">
    <i class="fab fa-linkedin"></i>
  </a>
</li>
{% endif %}

{% if icons.github %}
<li>
  <a href="https://github.com/{{ icons.github }}">
    <i class="fab fa-github"></i>
  </a>
</li>
{% endif %}

{% if icons.gitlab %}
<li>
  <a href="https://gitlab.com/{{ icons.gitlab }}">
    <i class="fab fa-gitlab"></i>
  </a>
</li>
{% endif %}

{% if icons.twitter %}
<li>
  <a href="https://twitter.com/{{ icons.twitter }}">
    <i class="fab fa-twitter"></i>
  </a>
</li>
{% endif %}