#home {
    #aside{
        display:block;
        @media (max-width: 991px) {
           display: none;
        }
    }
    #header-nav, #header-content, .bg{
        display:none;
        @media (max-width: 991px) {
           display: block;
        }
    }
    #header-content{
        @extend %page-padding;
        margin-bottom: 30px;
        color: #fff;
    }
    .bg{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 105px;
        left:0%;
        height: 95px;
        background-color: $theme-dark;
    }
    #posts.col-md-8{
        @media (max-width: 991px) {
            min-width:100%;
         }
    }
    #posts {
        @extend %posts-padding;
        padding: 30px 0px;
        .post{
            width: 100%;
            overflow: hidden;
            padding: 10px 0px;
            .meta {
                float: left;
                padding-right: 15px;
            }
            .title {
                display:inline-block;
                font-weight: 600;
                &:hover {
                    color: $theme-color;
                    text-decoration: underline; 
                }
            }
        }
    }
}
