#protfolio {
  #about-me {
    position: relative;
    .row {
      @extend %page-padding;
    }
    .img-wrap {
      text-align: center;
      .img {
        overflow: hidden;
        display: inline-block;
        width: 180px;
        height: 242px;
        border-radius: 15px;
        img {
          width: 100%;
        }
      }
    }
    .text-wrap {
      color: $color-text;
      .description {
        margin: 10px 0;
        font-size: 0.95rem;
      }
      @media (max-width: 767px) {
        margin-top: 15px;
        text-align: center;
      }
    }
  }
  #career {
    @extend %page-padding;
    margin-bottom: 55px;
    margin-top: 55px;
    .title {
      margin-top: 15px;
      color: $color-text;
      font-size: 25px;
      font-weight: 600;
    }
    .exper {
      padding-top: 35px;
      ul.exper-list {
        margin-top: 25px;
        margin-left: 3%;
        border-left: 5px solid $color-accent-secondary;
        list-style-type: none;
        li {
          animation-name: fadein;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          -webkit-animation-name: fadein;
          -webkit-animation-duration: 1s;
          -webkit-animation-timing-function: ease-in-out;
        }
        li.meta {
          position: relative;
          padding: 15px 0 15px 30px;
          p {
            font-weight: 600;
          }
          .date {
            font-size: 0.8rem;
            color: $color-text;
          }
          .description {
            font-size: 1rem;
            color: $color-text;
          }
        }
        li.meta::before {
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          top: 42%;
          left: -10px;
          background-color: $color-accent-secondary;
          border-radius: 50%;
        }
      }
    }
    .skills {
      padding-top: 35px;
      ul.skill-list {
        margin-top: 20px;
        list-style-type: none;
        li.skill {
          margin: 18px auto;
          .name {
            padding-left: 5px;
            font-weight: 600;
            color: $color-text;
          }
        }
      }
    }
  }
}
