---
layout: page
---
<div id="home">
  <div class="row">
    <!-- Aside Navigation  -->
    <aside id="aside" class="col-md-4">
      {% include aside.html %}
    </aside>
    <!-- Post List -->
    <section id="posts" class="col-md-8">
      {% for post in site.posts %}
      <div class="post">
        <div class="meta"> {{ post.date | date: "%Y-%m-%d" }}</div> 
        <a href="{{ post.url | relative_url }}">
            <div class="title">{{ post.title }}</div>
        </a>
      </div>
      {% endfor %}
    </section>
  </div>
</div>