$color-text: #d2d4d6;
$color-text-light: #fff;

$color-background-dark: #212121;
$color-background: #1B1D1E;
$color-background-gray: #fff;

$color-accent: #007bff;
$color-accent-secondary: #484848;
$color-accent-light: #3b4f58;

%page-padding {
    padding: 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right: 5%;
    @media (max-width: 991px) {
        right: 3%;
    }
}
